@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Zeyada&display=swap');

body {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

test {
  color: rgb(150, 184, 115);
}

button {
  background-color: rgb(150, 184, 115);
  border-color: rgb(150, 184, 115);
  border-radius: 0.7rem;
  padding: 6px;
  padding-top: 8px;
  margin: 4px;
  font-family: 'Braah One', sans-serif;
}

h1, h2, h3, input {
  font-family: 'Braah One', sans-serif;
}

#brown-accent {
  color: rgb(135, 104, 62);
}

#green-accent {
  color: rgb(150, 184, 115);
}

#dark-green-accent {
  color: rgb(98, 121, 76);
}

#accent-font {
  font-family: 'Braah One', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(135, 104, 62);
}

a:hover {
  color: rgb(98, 121, 76);
  font-size: larger;
}

p.pLinks:hover {
  color: rgb(98, 121, 76);
  font-size: larger;
}